<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <div style="width: 60%; overflow: hidden; margin:0 auto;" >
        
        <div style="width: 50%; float: left;">
          <figure>
            <a class="page-link"  href="https://www.credly.com/users/mdeevan"   >
              <img src=".\assets\img\aws-certified-data-analytics-specialty.png"  text= "AWS" alt="AWS Certified Data Analytics- Specialty" height="60"  width="60"> 
              <img src=".\assets\img\project-management-professional-pmp.png"     alt="PMI Project Managment Professional"     height=60  width="60"> 
              <img src=".\assets\img\chapter-leader-2022.png"                     alt="PMI Chapter Leader 2022"     height=60  width="60"> 
            </a>
            <a class="page-link"  href="https://www.scrumalliance.org/community/profile/mnaveed"   >
              <img src=".\assets\img\sa-csm-600.png"     alt="PMI Project Managment Professional"     height="60"  width="60"> 
            </a>

            <!-- <figcaption>Certifications</figcaption> -->
          </figure>
        </div>
        

        <div style="width: 50%; float: left;">
          <figure>
            <a class="page-link"  href="https://github.com/mdeevan"  >
              <img src=".\assets\img\github-mark.png" height="60" width="60" 
              alt="Github profile" >
            </a>
            <a class="page-link"  href="https://linkedin.com/in/mdeevan"  >
              <img src=".\assets\img\LI-In-Bug.png" height="60" width="60" 
              alt="Github profile" >
            </a>
            <a class="page-link"  href="https://stackoverflow.com/users/3494754/naveed"  >
              <img src="https://stackoverflow.com/users/flair/3494754.png" width="208" height="58" 
              alt="profile for Naveed at Stack Overflow, Q&amp;A for professional and enthusiast programmers" 
              <!-- title="profile for Naveed at Stack Overflow, Q&amp;A for professional and enthusiast programmers"> -->
            </a>
            
            <!-- <figcaption>github</figcaption> -->
          </figure>
        </div>

      </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
